

<div class="footer bg-dark text-light">
	<div class="container-fluid">
	  	<div class="row pb-3 pt-3">
		    <!-- <div class="col-lg-12"> -->
		      <div class="col-lg-4 col-md-6">
		        <h3>About Us</h3>	        
		        <ul>
		        	<li>Our Buses</li>
			        <ul>	
			        	<li>Air-Conditioned</li>
			        	<li>Private Entertainment</li>
			        	<li>Recliner Seats</li>
			        	<li>Comfortable leg space</li>
			        	<li>Large boot space</li>
			        </ul>
			        <li>Our Promises</li>
			        <ul>
			        	<li>24x7 support</li>
			        	<li>On-road assistance</li>
			        	<li>Driver school</li>
			        	<li>Safe driving</li>
			        </ul>
		        </ul>
		      </div>
		       <div class="col-lg-4 col-md-6">
		        <h3>Contact Us</h3>
		        	<ul>
		        		<li>Telephone: </li>
		        		<ul>
		        			<li>011-27516457-60</li>
		        			<li>011-65782341-46</li>
		        			<li>+91-9811567778</li>
		        		</ul>
		        		<li>Fax: </li>
		        		<ul>
		        			<li>91-011-4455-0000</li>
		        			<li>91-011-4455-0001</li>
		        			<!-- <li>91-011-4455-0002</li> -->
		        		</ul>
		        	</ul>
		        <div >
		        	<span>
			        	<a href="#" class="icons-footer" ><i class="fab fa-facebook-square mr-5"></i></a>
			        	<a href="#" class="icons-footer" ><i class="fab fa-twitter-square mr-5"></i></a>
			        	<a href="#" class="icons-footer" ><i class="fab fa-linkedin mr-5"></i></a>
		        	</span>
		        </div>
		      </div>
		       <div class="col-lg-4">
		       		<div class="ini-flex col-md-6">
		       		<address>
		       			<div id="bolder">Reach Us</div>
		       			<strong>Bus Services</strong><br>
		       			Plot No. 326, Hamidpur,<br> 
		       			New Delhi, Delhi 110036,<br>
		       			India
		       		</address>
		       		</div>
		       		<div class="ini-flex col-md-6 mr-0">
			        	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4156.891822235529!2d77.14935312885734!3d28.8235107967921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390daaf4c884f85b%3A0x1c00e11a9ce7433c!2sHMR+Institute+of+Technology+and+Management!5e0!3m2!1sen!2sin!4v1530197752837" width="300" height="200" frameborder="0" style="border:10px solid" allowfullscreen></iframe>		        
			        </div>
		      </div>
		    <!-- </div> -->
	 	</div>
  	</div>
</div>

